---
layout: layout.liquid
title: Home
---

<h1>Welcome to My Blog!</h1>

<div id = "previews">
<a href = "/blog1/">{% preview 'My Favorite Planet' 'About my favorite planet I have travelled to' %}</a>
<a href = "/blog2/">{% preview 'Space Travel' 'Tips and tricks for space travel' %}</a>
</div>
