body {
    font-family: Helvetica, sans-serif;
    color: rgb(242, 242, 242);
    background: #9591c9;
    padding: 0 300px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 500px;
    border-radius: 50px;
    background: #390042;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #ababab;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul li a:hover {
color: rgb(237, 237, 237);
}

h1 {
    font-size: 5.5em;
    letter-spacing: -2px;
}
h2{
    font-size: 4em;
}

p{
    font-size: 14pt;
    letter-spacing: 0.5px;
    padding: 2em;
    text-align: left;
    text-indent: 2em;
    background: #827fb0;
    border-radius: 25px;
}

img.about {
    opacity: 0.5;
}
a{
    text-decoration: none;
    color: rgb(242, 242, 242);
}


#previews{
    display:flex;
    justify-content: space-evenly;
    
}

div.preview{
    background-color: #390042;
    border-radius: 50px;
    padding: 5ex;
}
div.preview:hover{
    background-color: #53005e;
}
div.preview_title{
    font-size: 4ex;
    margin-bottom: 1ex;
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(198, 6, 242) 0%, rgb(223, 9, 38) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#return a{
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    
    color: #ababab;
    text-decoration: none;
    font-size: 1.2em;

    justify-content: space-evenly;

    margin: 40px;
    width: 170px;
    border-radius: 100px;
    background: #390042;
}
#return a:hover{
    color: rgb(237, 237, 237);
}
